body {
    color: var(--dark-color);
    font-family: 'Roboto Mono', monospace;
    background-color: inherit;
    background-image: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comic Neue', cursive;
    font-weight: 700 !important;
    letter-spacing: 0.10rem;
}

.blog-nav {
    padding: 2rem;
}
.txt-blog-logo i {
    color: var(--dark-color);
    text-transform: none;
}

.blog-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.blog-banner-txt {
    width: 40%;
    font-size: 3rem;
}
.blog-banner-txt span {
    color: var(--primary-color);
}
.blog-side-banner {
    margin-top: -2rem;
}

.blog-list-container {
    margin: 2% 10%;
}
.list-item {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.item-poster {
    width: 15rem;
    height: 9rem;
    border-radius: 6px;
}
.item-main {
    padding-left: 1rem;
    height: 9rem;   /* Same height with item-poster */
    overflow: hidden;
}
.item-title {
    font-size: 2rem;
}
.item-author {
    color: gray;
    margin-bottom: 1rem;
}
.item-text {
    text-align: justify;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media (max-width: 1100px) {
    .blog-banner-txt {
        width: 60%;
        font-size: 2rem;
        padding-left: 2rem;
    }

    .item-title {
        font-size: 1.2rem;
    }
    .item-author {
        margin-bottom: 0.5rem;
    }
    .item-text {
        -webkit-line-clamp: 4;
    }
}

@media (max-width: 600px) {
    .blog-side-banner {
        display: none;
    }
    .blog-banner-txt {
        width: 70%;
        font-size: 1.25rem;
        padding-left: 2rem;
    }

    .list-item {
        display: block;
    }
    .item-poster-area {
        text-align: center;
    }
    .item-main {
        font-size: 0.9rem;
        height: 12rem;   /* Not the same height with item-poster */
    }
    .item-text {
        -webkit-line-clamp: unset;
    }
}
