:root {
    --primary-color: #66D9ED;
    --button-color: #9B37FF;
    --dark-color: #1A191D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--dark-color);
    background-image: linear-gradient(180deg, #00000012 60%, var(--dark-color) 100%);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
}
a {
    color: inherit;
    text-decoration: none;
}


.home {
    height: 100vh;
    color: white;
    background-color: var(--dark-color);
    background-image: linear-gradient(#06232c, var(--dark-color));
    padding: 2rem;
}

.txt-logo {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
}
.txt-logo a {
    color: var(--primary-color);
}
.txt-logo i {
    color: white;
}
.txt-logo span {
    color: var(--button-color);
}

.primary-menu, .blog-menu {
    position: absolute;
    top: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
}
.primary-menu li, .blog-menu li {
    display: inline;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.primary-menu li a:hover, .blog-menu li a:hover {
    color: var(--primary-color);
}

.home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -4rem;
}
.name {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    font-weight: 600;
}
.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    letter-spacing: 0.12rem;
}
